
// @import "../../../node_modules/**/*.css";

// Variables
//@import "variables/colors";
@import "variables/measures";
@import "variables/typography";
@import "variables/grid";
//@import "variables/animation";

//helpers
//@import "helpers/sprites";
@import "helpers/bootstrap";

// Core styles
@import "core/fonts";
@import "core/base";
@import "core/typography";

// Pages

// Components

@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/menu/menu";
@import "../../components/input-text/input-text";
@import "../../components/block-1/block-1";
@import "../../components/block-2/block-2";
@import "../../components/block-3/block-3";
@import "../../components/block-4/block-4";
@import "../../components/block-5/block-5";
@import "../../components/block-img/block-img";


