.menu{
    &__list{
      
    }
    &__burger-item{
        padding-bottom:3px;
        float:right;
        font-size: 32px;
        
    }
    a{
        color:#D70E2A;
        vertical-align: middle;
    }
}
