include ../../components/header/header
include ../../components/footer/footer

doctype html
html(lang='ru')
    include parts/head
    body
        +header()
        main.main
            block content
        +footer()
        script(src='assets/scripts/app.min.js')