body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: black;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    
    font-family: $font-family-base;
    font-weight: bold;
    color:black;
    margin-top:0;
    margin-bottom:0;

}

h1,
.h1 {
    font-size: 38px;
}

h2,
.h2{
    font-size:30px;
}